$themeColor: #347D39;
$themeColorHover: #46954A;
$dangerColor: #CF222E;
$primaryColor: #24292F;
$secondaryColor: #7D8893;
$linkColor: #386CF0;
$lightGray: #EAEAEA;
$sendMsgBg: #E4EDFD;
$receiveMsgBg: #F8F8F8;