@import '../../styles/global.scss';

.me-container {
    display: flex;
    gap: $containerGap;
    width: 100%;

    &__sidebar {
        width: 35%;
        overflow: auto;
        position: relative;
        &::-webkit-scrollbar {
            width: 0;
            background: rgba(234, 234, 234, 0.0);
        }
        scrollbar-width: none;
        border-right: 1px solid $lightGray;
    }
    
    &__content {
        flex: 1;
        overflow: auto;
        height: 100%;
        &::-webkit-scrollbar {
            width: 5px;
            background: rgba(234, 234, 234, 0.5);
        }
        &::-webkit-scrollbar-thumb {
            background-color: $sendMsgBg;
        }
        scrollbar-width: thin;
        scrollbar-color: rgba(234, 234, 234, 0.5) ;
    }
}